body {
  display: flex;
  background: linear-gradient(#00c9ff, #92fe9d);
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.carte {
  background-color: white;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 20px;
  padding: 30px;
}
img {
  margin-top: 20px;
  width: 300px;
  display: flex;
  height: 300px;
}
.coordonnées {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
ul {
  list-style: none;
}
li {
  padding-bottom: 20px;
}
h1 {
  margin-left: 30px;
  font-family: 'Sigmar One', Arial;
  margin-bottom: 5px;
}
h3 {
  margin-left: 30px;
  color: rgb(126, 77, 77);
  margin-top: 5px;
}
.icon {
  margin-left: 20px;
  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  
}
i {
  margin-right: 15px;
  font-size: 30px;
  color: #00c9ff;

}
.icon i:hover {
  color: #92fe9d;
  transform: scale(1.2);
  transition: 0.3s;

}
.icon i {
  transition: 0.3s;
  
}
